* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --neutral: #525252;
  --sky: #e0f2fe;
  box-sizing: border-box;
  font: 14px;
  color: var(--neutral);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player {
  grid-column: 2/6;
  grid-row: 3/9;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.computer {
  grid-column: 7/11;
  grid-row: 3/9;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.player__col-header,
.computer__col-header {
  grid-column: 2/12;
  grid-row: 1/2;
  display: flex;
}

.player__row-header,
.computer__row-header {
  grid-column: 1/2;
  grid-row: 2/12;
}

.player__grid,
.computer__grid {
  grid-column: 2/12;
  grid-row: 2/12;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--neutral);
}

.computer {
  grid-column: 7/11;
  grid-row: 3/9;
}

.col-box {
  width: 10%;
}

.row-box {
  height: 10%;
}

.col-box,
.row-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid var(--neutral);
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.box--ship {
  background-color: var(--sky);
}

.box--start-hor {
  border-width: 2px 1px 2px 2px;
  border-style: solid dotted solid solid;
}

.box--end-hor {
  border-width: 2px 2px 2px 1px;
  border-style: solid solid solid dotted;
}

.box--mid-hor {
  border-width: 2px 1px 2px 1px;
  border-style: solid dotted;
}

.box--start-ver {
  border-width: 2px 2px 1px 2px;
  border-style: solid solid dotted solid;
}

.box--end-ver {
  border-width: 1px 2px 2px 2px;
  border-style: dotted solid solid solid;
}

.box--mid-ver {
  border-width: 1px 2px 1px 2px;
  border-style: dotted solid;
}

.box--hidden {
  background-color: white;
  border: 1px solid var(--neutral)
}